<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    Please select one service:
    <select (change)="vibrate($event)">
        <option value="" disabled>select</option>
      <option value="startvibration">vibration</option>
      <option value="takephoto">Take Photo</option>
      <option value="upload">uploadfile</option>
      <!-- <option value="fingerprint">fingerprint</option> -->
     
    </select>
   
    <!-- <ion-select (change)="vibrate($event)">
        <ion-option value="" disabled>select</ion-option>
        <ion-option value="startvibration">vibration</ion-option>
        <ion-option value="toggleFlash">Flash</ion-option>
        <ion-option value="takephoto">Take Photo</ion-option>
      </ion-select> -->


    <h3>Batterylevel</h3>
 <p>{{stat?.level}}</p>
 <!-- <div ng-switch="myVar">
  <div ng-switch-when="startvibration"  >
  </div>
 
    <div ng-switch-when="toggleFlash" (click)="toggleFlash()" >
    </div>

    
      <div ng-switch-when="takephoto" (click)="takephoto()" >
      </div>
      </div> -->

 <!-- <button ion-button block (click)="choose()">uploadfile</button> -->
 <ion-fab bottom center>
  <button ion-fab color="{{isOn ? 'secondary':'light'}}" (click)="toggleFlash()">
  </button>
  </ion-fab>
  <!-- <button *ngIf="backlightStatus===false" ion-button block (click)="on()">flashlight ON</button>
  <button *ngIf="backlightStatus===true" ion-button block (click)="off()">flashlight OFF</button> -->
 <button ion-button block (click)="fingerprintdialoge()">fingerprint</button>
  <div>
 <ion-input style="background-color: gray"  placeholder="text to encode" type="text" [(ngModel)]="encodText"></ion-input>
<button ion-button full (click)="encode()"> Encode</button>
</div>
<div>
<button ion-button full (click)="scan()"> scan</button>
<div *ngIf="scannedData.text">
<label>Your barcode is</label>
<br>
<span>{{scannedData.text}}</span></div>
</div>
<ion-list>

  <ion-item>
      <ion-label floating>Destination</ion-label>
      <ion-input type="text" [(ngModel)]="Destination"></ion-input>
  </ion-item>
</ion-list>
<button ion-button full (click)="calculateAndDisplayRoute();showDiv() ">Get Direction</button>
<div id="map"  style="display:none;"></div>
<ion-item>
  <ion-label floating>Phone Number</ion-label>
  <ion-input type="tel"  [(ngModel)]="phoneNumber"></ion-input>
 </ion-item>
 
 <ion-fab bottom right>
  <button ion-fab (click)="callNumber()">
   <ion-icon name="call"></ion-icon>
   </button>
   </ion-fab>
   <ion-item>
   <p>Lat:{{lat}}</p>
   <p>Lng:{{lng}}</p>
   </ion-item>
   <button ion-button full (click)="saveLocation()">share location</button>
   <!-- <div #mapID (press)="saveLocation()">share location</div> -->
   <button ion-button full (click)="getContacts();toggle()">{{buttonName}}</button>
   <ion-list *ngIf="show">
    
     <ion-item *ngFor="let contact of contactList">
       <ion-avatar *ngIf="contact.image" item-start>
         <img [src]="contact.image">
       </ion-avatar>
       {{contact.name}}
       <p>{{contact.number}}</p>
     </ion-item>
   </ion-list>
 </ion-content>
