<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button full (click)="startvibration()">vibration</button>
 <button *ngIf="backlightStatus===false" ion-button block (click)="on()">flashlight ON</button>
 <button *ngIf="backlightStatus===true" ion-button block (click)="off()">flashlight OFF</button>
 <button ion-button full (click)="cameraon()">camera</button>
 <button ion-button block (click)="choose()">uploadfile</button>
 <button ion-button block (click)="fingerprintdialoge()">fingerprint</button>
  <div>
 <ion-input style="background-color: gray"  placeholder="text to encode" type="text" [(ngModel)]="encodText"></ion-input>
<button ion-button full (click)="encode()"> Encode</button>
</div>
<div>
<button ion-button full (click)="scan()"> scan</button>
<div *ngIf="scannedData.text">
<label>Your barcode is</label>
<br>
<span>{{scannedData.text}}</span></div>
</div>
<ion-item>
  <ion-label floating>Phone Number</ion-label>
  <ion-input type="tel"  [(ngModel)]="phoneNumber"></ion-input>
 </ion-item>
 <ion-fab bottom right>
  <button ion-fab (click)="callNumber()">
   <ion-icon name="call"></ion-icon>
   </button>
   </ion-fab>
   <ion-list>
   <button ion-button block (click)="contacts()">contacts</button>
   <ion-item *ngFor="let contact of contactsFound">
     <ion-avatar item-start>
       <ion-icon name="person"></ion-icon>
     </ion-avatar>
     <h2>{{contact.displayName}}</h2>
     <p *ngFor="let num of contact.phoneNumbers">
       {{num.value}}
     </p>
     </ion-item>
     </ion-list>
     <h3>Batterylevel</h3>
 <p>{{stat?.level}}</p>
</ion-content>
